<div class="d-flex flex-column">
    <h4 class="text-center">User Profile</h4>
    <img class="mb-4 rounded-circle" src="/uploads/{{image}}" alt="hello">
    <div class="element">
        <p>Name</p>
        <p>{{name}}</p>
    </div>

    <div class="element d-flex flex-column">
        <p>Email</p>
        <p>{{email}}</p>

    </div>
</div>