{{!-- <div class="container"> <h1  class="text-centre">Welcome To Books Library</h1><br> --}}

<div class="d-flex flex-column">
    <h1 class="text-centre">Welcome To Books Library !!</h1>
    <br>
    <h3>SignUp</h3>
    <br>
    <form action="/login" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="abc@example.com">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
        </div>

        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
    <br>
    <div class="d-flex flex-column">
        <h3 class="text-centre">Already Have Account - Click On Login</h3>
        <button type="button" class="btn btn-primary">Login</button>
    </div>
</div>

{{!-- <br>
<h3>Click Here To Login</h3>
<button type="button" class="btn btn-primary">Login</button>
<br>
<br>
<h3>Click Here To Signup</h3>
<button type="button" class="btn btn-primary">Signup</button>
</div> --}}